@import '~vuetify/src/stylus/settings/_variables'

$material-light.background = #FFF

$headings.body-1 = { size: 16px, weight: 400, letter-spacing: 0.5em }
$headings.body-2 = { size: 14px, weight: 400, letter-spacing: 0.25em }

@import '~vuetify/src/stylus/main'
